.spaceAround {
    justify-content: space-around;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}


.centerV {
    align-items: center;
}

.centerH {
    justify-content: center;
}