<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>internes:SeigneurAgnion</title>
    <link rel="stylesheet" href="../css/flex.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/seigneurAgnion.css" />
</head>

<script defer src="../js/seigneurAgnion.js"></script>

<body>
    <header id="header" class="flex centerH centerV">
        <a href="#zoneAccueille"><button class="buttonContainer">Home</button></a>
        <a href="#zone2"><button class="buttonContainer">Information</button></a>
        <a href="#zone3"><button class="buttonContainer">Images</button></a>
    </header>
    <div class="zone" id="zoneAccueille">
        <p>Télécharger</p>
    </div>
    <div class="zone" id="zone2">
        <p>Infomation</p>
    </div>
    <div class="zone" id="zone3">
        <p>Images</p>
    </div>
</body>

</html>