<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>internes:SeigneurAgnion</title>
    <link rel="stylesheet" href="../../css/flex.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/seigneurAgnion.css" />
</head>

<body>
    <header class="flex centerH centerV">
        <button class="buttonContainer">Home</button>
        <button class="buttonContainer">Information</button>
        <button class="buttonContainer">Images</button>
    </header>
    <div class="zone"></div>
    <div class="zone"></div>
    <div class="zone"></div>
</body>

</html>